.container__author, .container__blockquote-text, .container__blockquote, .container__paragraph, .container__title {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 97.2222222222%;
  margin: 0 auto 80px auto;
  display: flex;
}
.container:first-child {
  margin-top: 80px;
}
.container__title {
  font-family: "Prompt", "arial", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  color: #0A0A0A;
  width: 50%;
}
.container__paragraph {
  font-family: "Prompt", "arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  color: #0A0A0A;
  width: 50%;
}
.container__blockquote {
  font-family: "Prompt", "arial", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #0A0A0A;
  align-self: center;
  width: 50%;
  z-index: 1;
}
.container__blockquote-text {
  margin-bottom: 24px;
}
.container__author {
  font-style: normal;
}
.container__model-first {
  max-width: 50%;
  position: relative;
  margin-left: -175px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__model-second {
  max-width: 44.1428571429%;
  margin-right: 62px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__paragraph {
  align-self: center;
}
.container__model-third {
  max-width: 62.5%;
  position: relative;
  margin-left: -175px;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 680px) {
  .container__rightAnimation {
    -webkit-animation: fadeInRight;
            animation: fadeInRight;
    transition-timing-function: ease-out;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .container__leftAnimation {
    -webkit-animation: fadeInLeft;
            animation: fadeInLeft;
    transition-timing-function: ease-out;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 94.7916666667%;
    margin: 70px auto 0 auto;
  }
  .container:first-child {
    margin-top: 60px;
  }
  .container:last-child {
    margin-top: 90px;
    margin-bottom: 80px;
  }
  .container__title {
    max-width: 47.3958333333%;
    font-size: 32px;
    line-height: 40px;
  }
  .container__paragraph {
    width: 373px;
  }
  .container__blockquote {
    max-width: 364px;
  }
  .container__model-first {
    max-width: 364px;
    max-height: 452px;
    margin-left: -115px;
    margin-top: 50px;
  }
  .container__model-second {
    align-self: center;
    max-width: 304px;
    max-height: 304px;
    margin-right: 60px;
  }
  .container__model-third {
    margin-left: -130px;
    max-width: 485px;
    max-height: 607px;
  }
}
@media screen and (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px auto 40px auto;
  }
  .container:first-child {
    flex-direction: column;
    margin-top: 40px;
  }
  .container:nth-child(3) {
    flex-direction: column;
  }
  .container:last-child {
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .container__paragraph {
    align-self: flex-start;
    width: 280px;
    margin-top: 20px;
    margin: 20px auto 0 auto;
    font-size: 16px;
    line-height: 24px;
  }
  .container__title {
    margin-left: 11px;
    width: 280px;
    font-size: 24px;
    line-height: 32px;
  }
  .container__blockquote {
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    width: 94.1176470588%;
  }
  .container__author {
    margin-top: 20px;
  }
  .container__model-first {
    width: 280px;
    height: 348px;
    margin: 0 auto;
  }
  .container__model-second {
    width: 280px;
    height: 280px;
    margin: 0 auto;
  }
  .container__model-third {
    margin-left: 0;
    width: 280px;
    height: 350px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=container.css.map */