$bkColor: #E7E7E2;
$fontColor: #0A0A0A;
$wColor: #FFFFFF;
$fFamily: "Prompt", "arial", sans-serif;

%resetStylesBtn {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

@mixin font-one ($fFamily, $fw, $fs, $fh, $ls) {
    font-family: $fFamily;
    font-weight: $fw;
    font-size: $fs;
    line-height: $fh;
    letter-spacing: $ls;
    color: $wColor;
}

@mixin font($ff, $fw, $fs, $fh, $ls) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $fh;
    letter-spacing: $ls;
    color: $fontColor;
}

.header {
    max-width: 1440px;
    background-color: $bkColor;
    position: relative;
    
    &__burger-btn {
        @extend %resetStylesBtn;
        width: 48px;
        height: 48px;
        background-image: url(../../../images/icon_menu-burger.svg);
        position: absolute;
        top: 20px;
        left: 24px;
        transition: .3s linear;
        opacity: 1;
    }

    &__burger-btn:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &__burger-btn_visibility {
        visibility: hidden;
    }

    &__menu-btn_visibility {
        visibility: hidden;
    }

    &__menu-btn {
        @extend %resetStylesBtn;
        @include font($fFamily, 500, 16px, 24px, 0.02em);
        position: absolute;
        top: 32px;
        left: 84px;
        transition: .3s linear;
        opacity: 1;
    }

    &__menu-btn:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &__flex-container {
        margin: 0 auto; 
        display: flex;
        width: 1400px / 1440px * 100%;
    }

    &__img {
        width: 700px;
        height: 900px;
        background-image: url(../../../images/header-blackman.png);
        background-size: cover;
        -moz-background-size:cover;
        -webkit-background-size:cover;
    }

    &__box {
        max-width: 700px / 1400px * 100%;
        min-width: 485px;
        position: absolute;
        top: 310px;
        right: 5px;
    }

    &__title {
        @include font($fFamily, 500, 48px, 64px, 0.04em);
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        text-align: left;
    }

    &__subscrite-link {
        @include font($fFamily, 500, 16px, 24px, 0.02em);
        background-color: $fontColor;
        color: #FFFFFF;
        padding: 12px 30.5px;
        text-decoration: none;
        transition: .5s linear;
    }

    &__subscrite-link:hover {
        background-color: #FFFFFF;
        color: $fontColor;
    }

    &__menu-container {
        width: 480px;
        height: 810px;
        background-color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__close-menu {
        @extend %resetStylesBtn;
        background-image: url(../../../images/close.svg);
        background-repeat: no-repeat;
        overflow: hidden;
        object-fit: cover;
        width: 48px;
        height: 48px;
        position: fixed;
        top: 20px;
        left: 20px;
        transition: .3s linear;
        opacity: 1;
    }

    &__close-menu:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &__navigation {
        margin-top: 232px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        display: inline-block;
        @include font-one($fFamily, 500, 16px, 24px, 0.02em);
        text-decoration: none;
        margin-top: 80px;
        transition: .3s linear;
        opacity: 1;
    }

    &__link:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    @media screen and (max-width: 1280px) {
        &__box {
            top: 210px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__img {
            max-width: 489px;
            max-height: 646px;
        }

        &__title {
            @include font($fFamily, 500, 38px, 44px, 0.02em);
        }
    }

    @media screen and (max-width: 768px) {
        &__title {
            @include font($fFamily, 500, 32px, 40px, 0.04em);
            margin-bottom: 43px;
        }

        &__box {
            top: 223px;
            right: 15px;
        }

        &__img {
            width: 486px;
            height: 646px;
            background-image: url(../../../images/header-min.png);
            background-repeat: no-repeat;
            background-size: 486px 646px;
            background-size: contain;
            -moz-background-size:contain;
            -webkit-background-size:contain;  
        }
    }

    @media screen and (max-width: 600px) {
        &__img {
            width: 320px;
            height: 426px;
            background-image: url(../../../images/header-mobile.png);
            background-size: cover;
            -moz-background-size:cover;
            -webkit-background-size:cover; 
        }

        &__burger-btn {
            width: 24px;
            height: 24px;
            background-image: url(../../../images/menu-mobile.svg);
            position: absolute;
            top: 16px;
            left: 20px;
        }

        &__menu-btn {
            font-size: 14px;
            line-height: 20px;
            top: 18px;
            left: 60px;
        }

        &__box {
            min-width: 280px;
            top: 160px;
            right: 40px;
        }

        &__title {
            font-size: 24px;
            line-height: 32px;
            width: 100%;
        }

        &__subscrite-link {
            font-size: 14px;
            line-height: 20px;
            padding-left: 13.5px;
            padding-right: 13.5px;
        }

        &__menu-container {
            max-height: 360px;
            width: 320px;
        }

        &__navigation {
            margin-top: 75px;
        }

        &__link {
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 400px) {
        &__box {
            top: 111px;
            right: 20px;
        }

        &__close-menu {
            background-image: url(../../../images/icon-close-mob.svg);
            width: 24px;
            height: 24px;
        }
    }
}